@using WeatherHistoryViewer.Core.Models
<table class="table table-bordered" style="width: auto;">
    <thead>
    <tr>
        <th>Year</th>
        <th>Avg temp</th>
        <th>Max temp</th>
        <th>Date of max temp</th>
        <th>Min temp</th>
        <th>Date of min temp</th>
        <th>Average sun hours</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var year in WeatherOfYears)
    {
        <tr>
            <th>@year.Year</th>
            <th class="@year.CssClass.AvgTemp">@year.AvgTemp°C</th>
            <td class="@year.CssClass.MaxTemp">@year.MaxTemp°C</td>
            <td>@year.DateOfMaxTemp</td>
            <td class="@year.CssClass.MinTemp">@year.MinTemp°C</td>
            <td>@year.DateOfMinTemp</td>
            <td class="@year.CssClass.SunHour">@year.SunHour h</td>
        </tr>
    }
    </tbody>
</table>

@code {

    [Parameter]
    public List<WeatherOverview> WeatherOfYears { get; set; }

}